In [1]:
import pymysql

In [2]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'emmylee95',
    database = 'accesswayprimebank'
)
mycursor = mydb.cursor()

In [3]:
mycursor.execute('alter table mainstaffdetails add column staffqualification varchar(80) not null')
mycursor.execute('show columns from mainstaffdetails')
for x in mycursor:
    print(x)

('staffid', 'int', 'NO', 'PRI', None, 'auto_increment')
('staffname', 'varchar(255)', 'NO', '', None, '')
('staffgender', 'varchar(10)', 'NO', '', None, '')
('staffdesignation', 'varchar(50)', 'NO', '', None, '')
('staffqualification', 'varchar(80)', 'NO', '', None, '')

In [3]:
mycursor.execute('alter table mainstaffdetails modify column staffdesignation varchar(150) not null')
mycursor.execute('show columns from mainstaffdetails')
for x in mycursor:
    print(x)

('staffid', 'int', 'NO', 'PRI', None, 'auto_increment')
('staffname', 'varchar(255)', 'NO', '', None, '')
('staffgender', 'varchar(10)', 'NO', '', None, '')
('staffcontact', 'varchar(80)', 'NO', '', None, '')
('staffdesignation', 'varchar(150)', 'NO', '', None, '')
('staffqualification', 'varchar(80)', 'NO', '', None, '')

In [5]:
mycursor.execute('alter table mainstaffdetails add column staffcontact varchar(45) not null after staffgender')
mycursor.execute('show columns from mainstaffdetails')
for x in mycursor:
    print(x)

('staffid', 'int', 'NO', 'PRI', None, 'auto_increment')
('staffname', 'varchar(255)', 'NO', '', None, '')
('staffgender', 'varchar(10)', 'NO', '', None, '')
('staffcontact', 'varchar(45)', 'NO', '', None, '')
('staffdesignation', 'varchar(150)', 'NO', '', None, '')
('staffqualification', 'varchar(80)', 'NO', '', None, '')

In [4]:
mycursor.execute('alter table mainstaffdetails add column duplicateid varchar(80) not null first')
mycursor.execute('show columns from mainstaffdetails')
for x in mycursor:
    print(x)

('duplicateid', 'varchar(80)', 'NO', '', None, '')
('staffid', 'int', 'NO', 'PRI', None, 'auto_increment')
('staffname', 'varchar(255)', 'NO', '', None, '')
('staffgender', 'varchar(10)', 'NO', '', None, '')
('staffcontact', 'varchar(80)', 'NO', '', None, '')
('staffdesignation', 'varchar(150)', 'NO', '', None, '')
('staffqualification', 'varchar(80)', 'NO', '', None, '')

In [5]:
mycursor.execute('alter table mainstaffdetails drop column duplicateid')
mycursor.execute('show columns from mainstaffdetails')
for x in mycursor:
    print(x)

('staffid', 'int', 'NO', 'PRI', None, 'auto_increment')
('staffname', 'varchar(255)', 'NO', '', None, '')
('staffgender', 'varchar(10)', 'NO', '', None, '')
('staffcontact', 'varchar(80)', 'NO', '', None, '')
('staffdesignation', 'varchar(150)', 'NO', '', None, '')
('staffqualification', 'varchar(80)', 'NO', '', None, '')

In [6]:
mycursor.execute('alter table mainstaffdetails change column staffcontact staffphonenumber varchar(80) not null')
mycursor.execute('show columns from mainstaffdetails')
for x in mycursor:
    print(x)

('staffid', 'int', 'NO', 'PRI', None, 'auto_increment')
('staffname', 'varchar(255)', 'NO', '', None, '')
('staffgender', 'varchar(10)', 'NO', '', None, '')
('staffphonenumber', 'varchar(80)', 'NO', '', None, '')
('staffdesignation', 'varchar(150)', 'NO', '', None, '')
('staffqualification', 'varchar(80)', 'NO', '', None, '')

In [7]:
mycursor.execute('alter table mainstaffdetails rename to Permenantstaffdetails')
mycursor.execute('show tables')
for x in mycursor:
    print(x)

('permenantstaffdetails',)

In [8]:
sql = 'insert into permenantstaffdetails(staffid,staffname,staffgender,staffphonenumber,staffdesignation,staffqualification) values (%s,%s,%s,%s,%s,%s)'
val  = [(1,'OBED AKPAN','MALE','08125659878','SENIOR MARKETING OFFICER1','DOCTORATE DEGREE'),
        (2,'OKORO LUCY','FEMALE','09125656568','REGIONAL MANAGER','MBA'),
        (3,'JANET AKINLABI','FEMALE','09085645454','BRANCH MANAGER','MASTERS'),
        (4,'PAUL LAWAL','MALE','08054585958','HEAD OF MARKETING','DOCTORATE DEGREE'),
        (5,'SUSAN PWAJOK','FEMALE','09147477879','SENIOR MARKETING OFFICER2','MASTERS'),
        (6,'SAMUEL OKOLO','MALE','08120232020','HEAD OF ICT','PHD'),
        (7,'MARY KWAWA','FEMALE','08159999030','CUSTOMER REPRESENTATIVE 1','BSC')]
mycursor.executemany(sql,val)
mydb.commit()

In [9]:
mycursor.execute('select * from permenantstaffdetails')
for x in mycursor:
    print(x)

(1, 'OBED AKPAN', 'MALE', '08125659878', 'SENIOR MARKETING OFFICER1', 'DOCTORATE DEGREE')
(2, 'OKORO LUCY', 'FEMALE', '09125656568', 'REGIONAL MANAGER', 'MBA')
(3, 'JANET AKINLABI', 'FEMALE', '09085645454', 'BRANCH MANAGER', 'MASTERS')
(4, 'PAUL LAWAL', 'MALE', '08054585958', 'HEAD OF MARKETING', 'DOCTORATE DEGREE')
(5, 'SUSAN PWAJOK', 'FEMALE', '09147477879', 'SENIOR MARKETING OFFICER2', 'MASTERS')
(6, 'SAMUEL OKOLO', 'MALE', '08120232020', 'HEAD OF ICT', 'PHD')
(7, 'MARY KWAWA', 'FEMALE', '08159999030', 'CUSTOMER REPRESENTATIVE 1', 'BSC')

In [10]:
mycursor.execute('update permenantstaffdetails set staffqualification = "DOCTORATE DEGREE" where staffid =5')

1

In [11]:
mycursor.execute('select * from permenantstaffdetails')
for x in mycursor:
    print(x)

(1, 'OBED AKPAN', 'MALE', '08125659878', 'SENIOR MARKETING OFFICER1', 'DOCTORATE DEGREE')
(2, 'OKORO LUCY', 'FEMALE', '09125656568', 'REGIONAL MANAGER', 'MBA')
(3, 'JANET AKINLABI', 'FEMALE', '09085645454', 'BRANCH MANAGER', 'MASTERS')
(4, 'PAUL LAWAL', 'MALE', '08054585958', 'HEAD OF MARKETING', 'DOCTORATE DEGREE')
(5, 'SUSAN PWAJOK', 'FEMALE', '09147477879', 'SENIOR MARKETING OFFICER2', 'DOCTORATE DEGREE')
(6, 'SAMUEL OKOLO', 'MALE', '08120232020', 'HEAD OF ICT', 'PHD')
(7, 'MARY KWAWA', 'FEMALE', '08159999030', 'CUSTOMER REPRESENTATIVE 1', 'BSC')

In [12]:
mycursor.execute('delete from permenantstaffdetails where staffid = 7')
mycursor.execute('select * from permenantstaffdetails')
for x in mycursor:
    print(x)

(1, 'OBED AKPAN', 'MALE', '08125659878', 'SENIOR MARKETING OFFICER1', 'DOCTORATE DEGREE')
(2, 'OKORO LUCY', 'FEMALE', '09125656568', 'REGIONAL MANAGER', 'MBA')
(3, 'JANET AKINLABI', 'FEMALE', '09085645454', 'BRANCH MANAGER', 'MASTERS')
(4, 'PAUL LAWAL', 'MALE', '08054585958', 'HEAD OF MARKETING', 'DOCTORATE DEGREE')
(5, 'SUSAN PWAJOK', 'FEMALE', '09147477879', 'SENIOR MARKETING OFFICER2', 'DOCTORATE DEGREE')
(6, 'SAMUEL OKOLO', 'MALE', '08120232020', 'HEAD OF ICT', 'PHD')